@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

*{
  box-sizing: border-box;
  /* border: .1px dashed orange; */
  margin: 0;
  padding: 0;
}

body{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: #000;
  /* background-color: #090 */
}

.app {
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 100%;
  border-color: blue;
}

h1, h2, h3, h4, 
h5, h6, p {
  margin-bottom: 5px;
}

.app h1{
  text-align: center;
  font-size: 3em;
  padding:0;
  width: 100%;
}

.current-time{
  margin: 0 auto;
  width: 90%;
  border: .1px solid #000;
  margin-bottom: 30px;
}

.current-time h2, .current-time h3{
  text-align: center;
  font: 1.2em sans-serif;
}

.current-time p{
  text-align: center;
}
.refresh-btn {
  display: block;
  width: 150px;
  margin: 5px auto;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  background-color: #ddf;
}

@media only screen and (max-width: 350px) {
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 900px) {
}